#AppBar {
    position: 'relative';
}

#InsertPanel {
    display: flex;
    flex-grow: 1;
    width: 600px;
    margin-left: 'auto';
    margin-right: 'auto';
}

#paperInsertFields {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 800px;
}

#InsertForm {
    display: flex;
    flex-grow: 1;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

#submitButton {
    display: flex;
}